{% extends 'index.html' %}
{% load static %}



{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab"
                           aria-controls="nav-home" aria-selected="true">SkyCoordinat from name</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab"
                           aria-controls="nav-profile" aria-selected="false">SkyCoordinat from coordinates</a>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="sky-coord-name">SkyCoordinat from name</label>
                                <input type="text" class="form-control" id="sky_name" name="sky_name"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter name">
                                <small id="emailHelp" class="form-text text-muted">SkyCoordinat from name.</small>
                            </div>
                            <input type="hidden" name="waveband" value="{{ waveband }}">
                            <input type="hidden" name="service_type" value="{{ service_type }}">
                            <input type="hidden" name="services" value="{{ services }}">

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="sky-coord-name">dec</label>
                                <input type="text" class="form-control" id="sky_dec" name="sky_dec"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter dec">
                            </div>
                            <div class="form-group">
                                <label for="sky-coord-name">ra</label>
                                <input type="text" class="form-control" id="sky_ra" name="sky_ra"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter ra">
                            </div>

                            <div class="form-group">
                                <label for="sky-coord-name">Observer Time</label>
                                <input type="text" class="form-control" id="sky_obstime" name="sky_obstime"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter time">
                            </div>


                            <input type="hidden" name="waveband" value="{{ waveband }}">
                            <input type="hidden" name="service_type" value="{{ service_type }}">
                            <input type="hidden" name="services" value="{{ services }}">

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="row">


        <div class="col-12">
            <div class="card-box">

                {% if graphic_data %}
                    <img src="data:image/png;base64,{{ graphic_data|safe }}">
                {% endif %}
            </div>
        </div>
    </div>




{% endblock %}